body{
    color:rgb (245, 226, 239);
background:rgb(226 ,133, 149);
 margin: 0px;
 font-family: "Dancing Script", cursive;
}
    
header{
    border-bottom: solid 3px rgb(235, 33, 174);
    padding: 20px;
    font-size: 32px;
    color:rgb(19, 16, 17);
}   
section{
    background: rgb(226 ,133, 149); 
    display: flex;
    justify-content: center;
}


h1 {
font-size: 35px;


}

