body{
    color:rgb (245, 226, 239);
background:rgb(226 ,133, 149);
 margin: 0px;
}
    
header{
    border-bottom: solid 3px rgb(235, 33, 174);
    padding: 20px;
    font-size: 32px;
    color:rgb(235, 33, 174);
}   
section{
    background: rgb(226 ,133, 149);
}
